body {
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size:  18px;
    background-color:   #f5f7fb;
}


/************************************
 DEFAULTS
************************************/

.wrapper {
    padding:    0 20px;
    margin: 0 auto;
    max-width:  800px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Slabo 13px', serif;
    font-weight:    200;
}

a {
    color:  #000;
    text-decoration:    none;
    
    -webkit-transition: all 0.2s linear;
    -moz-transition:    all 0.2s linear;
	-o-transition:		all 0.2s linear;
    transition:         all 0.2s linear;
}

a:hover {
    color:  #6ed3cf;
}

.btn {
    background-color:   #f86759;
    border-radius:  5px;
    padding:    10px 30px;
    color:  #fff;
    text-transform: uppercase;
    font-size:  0.8em;
    font-family:    'Slabo 13px', serif;
    font-weight:    700;
    border: none;
    
    -webkit-box-shadow: 0px 5px 0px 0px rgba(230,39,57,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(230,39,57,1);
    box-shadow: 0px 5px 0px 0px rgba(230,39,57,1);
}

.btn:hover {
    background-color:   #f97e72;
    color:  #fff;
}

h3 {
    font-size:  1.8em;
    margin-bottom:  0;
    color:  #6ed3cf;
    border-bottom:  2px solid #6ed3cf;
    display:    inline-block;
}

.anchor {
    display:    inline-block;
    margin: 0 auto;
    float:  right;
}

label, input[type="text"], textarea {
    display:    block;
    width:  100%;
}

label {
    font-size:  0.8em;
    text-transform: uppercase;
    margin-bottom:  5px;
}

input[type="text"], textarea {
    box-sizing: border-box;
    margin-bottom:  30px;
    border: 1px solid #ddd;
    padding:    10px;
}


/************************************
 NAVIGATION
************************************/

header, footer {
    background-color:   #646a73;
    padding:    20px 0;
}

header a {
    color:  #fff;
}

header h1, header h2 {
    padding-left:   60px;
}

header h2 {
    margin: 0 0 10px 0;
    font-weight:    200;
    color:  #818b96;
}

.fa {
    margin-right:   5px;
}

.logo {
    text-transform: uppercase;
    margin:  0;
    color:  #fff;
    font-weight:    200;
    line-height:    1;
    font-size:  1.6em;
    background: url('logo.svg') no-repeat top left;
    background-size:    55px auto;
    overflow:   visible;
}

.menu {
    text-align: center;
    font-family:    'Slabo 13px', serif;
}

.menu a {
    display:    inline-block;
    font-size:  0.9em;
    padding:    0 10px;
}

.menu a:hover {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(110,211,207,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(110,211,207,1);
    box-shadow: 0px 2px 0px 0px rgba(110,211,207,1);
}

footer {
    margin-top: 40px;
    color:  #fff;
    font-size:  0.8em;
}


/************************************
 CONTENT
************************************/

.extra-info {
    margin: 40px auto 20px auto;
    padding:    20px 20px 30px 20px;
    max-width:  500px;
    background-color:   #fff;
    border-radius:  20px;
    text-align: center;
}

.extra-info h4 {
    margin: 10px auto;
    font-size:  1.4em;
    text-align: center;
    border-bottom:  2px solid #000;
    display:    inline-block;
}

.extra-info ul {
    display:    inline-block;
    margin: 0 auto;
    text-align: left;
}

.extra-info p {
    font-size:  0.9em;
}

.comment-section {
    background-color:   #fff;
    margin-top: 40px;
    padding:    20px 20px 30px 20px;
}

.comment-section h5 {
    margin-top: 0;
}

.comment {
    border-bottom:  1px dashed #ddd;
    padding:    10px 0;
}

.comment-section .comment:last-child {
    border: none;
    padding-bottom: 0;
}

.comment-section time {
    font-size:  0.7em;
    margin: 0;
    font-style: italic;
}

.comment-section p {
    margin: 0 0 10px 0;
}

.comment-section .credit {
    font-size:  0.8em;
    font-weight:    700;
    margin: 0;
}


@media screen and (min-width: 730px) {
     body {
         font-size: 16px;
     }
     
     header .wrapper {
         position:  relative;
     }
     
     .menu {
         text-align:    right;
         padding-left:   20px;
         position: absolute;
         bottom:    0;
         right: 20px;
         font-size: 1.2em;
     }
     
     .exercise-section p {
         width: 45%;
         float:left;
     }
     
     .exercise-form {
         width: 50%;
         float: right;
         padding-top:   15px;
     }
 }

